/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#palette-styl
 * Locale: ../../../node_modules/@vuepress/core/lib/client/styles/config.styl
 */

$accentColor = #cc4221

/*$badgeTipColor ?= #42b983
$badgeWarningColor ?= darken(#ffe564, 35%)
$badgeErrorColor ?= #DA5961*/

$contentWidth = 940px
$sidebarWidth = 15rem